body {
    margin: 0;
    position: relative;
    min-height: 48.1vw;
}

.container--main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
}

.popup_container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;

}

.show {
    display: flex;
    background: rgba(0, 0, 0, 0.17);
    z-index: 1;
}

.popup-main {
    background-color: white;
    border-radius: 15px;
    min-height: 300px;
    width: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.container__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.link {
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}

.button__in {
    position: absolute;
    top: -20px;
    right: -50px;
}